<div class="container" style="padding-top: 25px;">
  <p class="h2" style="color:#000">Trending Movies</p>

  <!--Cards Display-->
  <div class="row row-cols-1 row-cols-md-5 g-20">
      <div class="card" *ngFor="let t of trending">
          <a class="nav-link active" href="/detail/{id}(id=${i.id})">
              <img class="card-img-top" src="{{t.posterPath}}">
              <div class="card-body">
                  <div class="movie-info">
                      <h5 class="card-title">{{ t.title }}</h5>
                      <span class={{t.ratingColour}}>{{ t.rating }}</span>
                  </div>
                  <div class="movie-overview">
                      <p class="h5" style="font-weight: bold;">Overview</p>
                      <p class="card-text">{{ t.overview }}</p>
                  </div>
              </div>
          </a>
      </div>
  </div>
</div>