/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

:root{
  --primary-color:#696969;
  --secondary-color: #808080;
}

body{
  background: url('../src/assets/img/login-background.png') fixed;
  font-family: 'Poppins', sans-serif;
}
